<?xml version="1.0" ?>
<!--
  Proporties for the wheeled_robin robot 
 -->
<robot name="wheeled_robin_properties" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Proporties for the camera, position of the camera_rgb_joint -->
  	<property name="cam_px" value="0.1" />
	<property name="cam_py" value="0.0315" />
	<property name="cam_pz" value="0.5" />
	<property name="cam_or" value="0" />
	<property name="cam_op" value="0" />
	<property name="cam_oy" value="0" />
  
  
</robot>
